# Системы контроля версий
.git
.gitignore

# IDE
.idea/
*.iml
.vscode/
.classpath
.project
.settings/

# Логи и временные файлы
*.log
*.tmp
*.pid
*.lock
*.hprof

# Документация
README.md
*.md

# Папки сборки
build/
target/
out/

# Gradle
gradle/
gradlew
gradlew.bat
.gradle/

# Docker файлы
Dockerfile*
.dockerignore
docker-compose*.yml

# Спринг Boot специфичные
application*.properties
application*.yml
heap-dump*.hprof

# Ресурсы
src/test/
test/